<a href="https://colab.research.google.com/github/rachel-hargrave/DS-Unit-1-Sprint-2-Statistics/blob/master/Sprint_1_Tuesday_Q%26A_DS15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Quotes

In python, it doesn't matter if you use single or double quotes around your strings, they just need to match on either end of the string.

In [0]:
this_string = "hello"

other_string = 'hello'

print(this_string)
print(other_string)

print(this_string == other_string)

hello
hello
True

If you want to use quotation marks **within** the string, make sure you use the opposite version to start and end your string.

Example: And then Ryan said, "Hello this is DS15."

I need single quotes around the outside to avoid clashing with the double quotes on the inside.

In [0]:
ryan_says = 'And then Ryan said, "Hello this is DS15."'

ryan_says

'And then Ryan said, "Hello this is DS15."'

or I could reverse it:

In [0]:
ryan_says = "And then Ryan said, 'Hello this is DS15.'"

ryan_says

"And then Ryan said, 'Hello this is DS15.'"

You could also use "escape characters (\) on any quote/quotation marks within a string:

In [0]:
string_with_escape_characters = "And then Ryan said, \"Hello this is DS15.\""

## Multi-line Strings

Use triple quotations marks or triple single quotes

In [0]:
''' 
This string
can
go
across
multiple
lines
'''

In [0]:
'this
string
doesn\'t
work'

SyntaxError: ignored

## .strip()

If nothing is passed into the parenthesis **any** whitespace at the beginning or end of the string will be removed. Whitespace within the string won't be affected.

In [0]:
"         my string           ".strip()

'my string'

In [0]:
print("\n \n \n \n \n \n my string \n \n \n \n \n \n ")

 my string

In [0]:
"\n \n \n \n \n \n my string \n \n \n \n \n \n ".strip()

'my string'

In [0]:
' my string '.strip()

'my string'

## .strip() on a column of string data

In [0]:
df = pd.DataFrame({'term': ['36 months', '60 months', '36 months', '60 months'], 'age': [1,2,3,4]})

df.head()

        term  age
0  36 months    1
1  60 months    2
2  36 months    3
3  60 months    4

In [0]:
df.dtypes

term    object
age      int64
dtype: object

In [0]:
# stripping whitespace from the column
df['term'].str.strip()

0    36 months
1    60 months
2    36 months
3    60 months
Name: term, dtype: object

In [0]:
df['term'].str.strip(" months")

0    36
1    60
2    36
3    60
Name: term, dtype: object

In [0]:
df['term'].str.strip(" months").astype(int)

0    36
1    60
2    36
3    60
Name: term, dtype: int64

In [0]:
df['term_nums'] = df['term'].str.strip(" months").astype(int)

df.head()

        term  age  term_nums
0  36 months    1         36
1  60 months    2         60
2  36 months    3         36
3  60 months    4         60

In [0]:
# more similar to what we did during lecture
def term_to_int(term_string):
  return int(term_string.strip(' months'))

In [0]:
df['term'] = df['term'].apply(term_to_int)

df.head()

   term  age  term_nums  term_from_apply
0    36    1         36               36
1    60    2         60               60
2    36    3         36               36
3    60    4         60               60

In [0]:
df.dtypes

term               int64
age                int64
term_nums          int64
term_from_apply    int64
dtype: object